block bots
  h2 Bots
  each botButton in bots
    if botButton.state === false
      a.pure-button.pure-button-bot.pure-button-disabled(href='/status/#{botButton.label}/')= botButton.label
    else
      a.pure-button.pure-button-bot(href='/status/#{botButton.label}/', onclick='botClickHandler(event)')= botButton.label
