extends layout

block content
  h1= title
  p Welcome to #{title}
  each status, label in buttons
  	if status == 'down'
    	a.pure-button.pure-button-down(href='#{label}/')= label
    else
    	a.pure-button.pure-button-up(href='#{label}/')= label
