doctype 5
html
  head
    title= title
    script(src='/javascripts/handlers.js')
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/botomatic.css')
  body
    block 3col
