block target
  h2 Value
  - var path = url.replace("/status/","/update/");
  a.pure-button.pure-button-primary#update-button(href=path, onclick='updateClickHandler(event)') Submit Changes
  pre#property-value(contenteditable="true" )= target
